{% extends 'index.html' %}
{% block title %}Income{% endblock %}
{% block content %}
<div class="container px-5">
  {% if msg %}
  <div class="alert alert-danger" role="alert">
    {{msg}}
  </div>
  {% endif %}
  <form class="form" method="post" action="add_income" >
    {% csrf_token %}
      <div class="form-group">
        <label for="exampleFormControlInput1">Amount</label>
        <input type="number" class="form-control" name="amount" placeholder="Amount">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Purpose</label>
        <input type="text" class="form-control" name="purpose" placeholder="Purpose">
      </div>
      <input type="hidden" id="u_id" name="u_id" value="0">
      <button type="submit" class="btn btn-primary mt-3">----ADD----</button>
  </form>
</div>
<script>
  console.log(this)
  document.getElementById('u_id').value=localStorage.getItem('userID')
</script>
{% endblock %}