<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>{% block title %}Statements{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="">Home</a>
            <a class="nav-item nav-link" href="expense">Expenses</a>
            <a class="nav-item nav-link" href="income">Income</a>
            <a class="nav-item nav-link" href="loan">Loan</a>
          </div>
          <input type="text" class="form-control" style="width:300px; margin-left: 55%" id="balance" value="{{ main_balance }}" disabled >
        </div>
    </nav>
    <div id="content">
        {% block content %} 
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Purpose</th>
                <th scope="col">Balence</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for item in statements%}
                <td scope="row">{{item.date}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.type}}</td>
                <td>{{item.purpose}}</td>
                <td>{{item.balance}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endblock %}
    </div>
    <script>
      console.log(sessionStorage.getItem("id"));
      if(document.getElementById('balance').value.length > 0) {
        localStorage.setItem("balance",document.getElementById('balance').value)
      }
      document.getElementById('balance').value=localStorage.getItem('balance')
    </script>
</body>
</html>